.topbar-container {
  padding: 1rem 3rem;
  border-bottom: 1px solid #d4d4d4;
}
.topbar-selected-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  border: none;
  background: transparent;
  color: rgb(190, 45, 45);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.delete-button:hover {
  text-decoration: underline;
}
